<div class="main">
    <div class="main-contenedor">
        <div class="contenedor-texto">
            <h1>Bienvenido a <span class="italic">Shopeame</span>?</h1>
            <h3>¿Qué es <span class="italic">Shopeame</span>?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi asperiores quod error consequatur ipsum
                dolore,
                facilis quo odio fugiat officia. Tenetur minus ipsa vel, nam nemo nisi adipisci vitae unde?
                Nisi animi veniam quam deleniti eius rem sunt qui blanditiis voluptas ipsum vero debitis porro
                laboriosam
                officia, repudiandae tempore reiciendis quae! Corporis exercitationem incidunt vitae alias quas
                perferendis
                tempore itaque?
                Deleniti dolores iure porro cumque, assumenda ipsum voluptatibus suscipit quis. Consequuntur aliquam
                quis,
                voluptatem non sapiente ipsam ducimus placeat sequi obcaecati asperiores dolore fugiat officia rerum est
                delectus architecto soluta.</p>
            <h3>¿Para qué puedo usar <span class="italic">Shopeame</span>?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi asperiores quod error consequatur ipsum
                dolore,
                facilis quo odio fugiat officia. Tenetur minus ipsa vel, nam nemo nisi adipisci vitae unde?
                Nisi animi veniam quam deleniti eius rem sunt qui blanditiis voluptas ipsum vero debitis porro
                laboriosam
                officia, repudiandae tempore reiciendis quae! Corporis exercitationem incidunt vitae alias quas
                perferendis
                tempore itaque?
                Deleniti dolores iure porro cumque, assumenda ipsum voluptatibus suscipit quis. Consequuntur aliquam
                quis,
                voluptatem non sapiente ipsam ducimus placeat sequi obcaecati asperiores dolore fugiat officia rerum est
                delectus architecto soluta.</p>
            <h3>¿Quiénes hacemos en <span class="italic">Shopeame</span>?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi asperiores quod error consequatur ipsum
                dolore,
                facilis quo odio fugiat officia. Tenetur minus ipsa vel, nam nemo nisi adipisci vitae unde?
                Nisi animi veniam quam deleniti eius rem sunt qui blanditiis voluptas ipsum vero debitis porro
                laboriosam
                officia, repudiandae tempore reiciendis quae! Corporis exercitationem incidunt vitae alias quas
                perferendis
                tempore itaque?
                Deleniti dolores iure porro cumque, assumenda ipsum voluptatibus suscipit quis. Consequuntur aliquam
                quis,
                voluptatem non sapiente ipsam ducimus placeat sequi obcaecati asperiores dolore fugiat officia rerum est
                delectus architecto soluta.</p>
            <h3>¿Es seguro <span class="italic">Shopeame</span>?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi asperiores quod error consequatur ipsum
                dolore,
                facilis quo odio fugiat officia. Tenetur minus ipsa vel, nam nemo nisi adipisci vitae unde?
                Nisi animi veniam quam deleniti eius rem sunt qui blanditiis voluptas ipsum vero debitis porro
                laboriosam
                officia, repudiandae tempore reiciendis quae! Corporis exercitationem incidunt vitae alias quas
                perferendis
                tempore itaque?
                Deleniti dolores iure porro cumque, assumenda ipsum voluptatibus suscipit quis. Consequuntur aliquam
                quis,
                voluptatem non sapiente ipsam ducimus placeat sequi obcaecati asperiores dolore fugiat officia rerum est
                delectus architecto soluta.</p>
        </div>
    </div>
</div>